{% extends 'base.html' %}

{% block title %} {{ author.username }}'s Blog {% endblock %}

{% block extra_css %}

<style type="text/css">
	#mainbody {
		background-color:#eee;	
	}

	#blogname {
		padding-left:20px;			
	}	

	.fill {
		min-height: 100%;
	}

	#blogcontent {
		padding-left:20px;
	}

	#blogcontainer {
		background-color:#F1AB00;
	}

</style>

{% endblock %}

{% block content %}

<div class="container fill" id="mainbody">
	<div class="row-fluid">
		<div class="span10">
			<h2 id="blogname"> {{author.username}}'s blog </h2>
			<div class="container" id="blogcontainer">
				{% for post in posts %}

					{% if post.classname == "Post" %}
						<div class="container-fluid" id="blogcontent">
						<h3>
							{{ post.title }}
						</h3>
						<h5>
							{{ post.post_date }}
						</h5>
						<h6>
							{{ post.text|linebreaksbr }}
						</h6>
						</div>

					{% elif post.classname == "PhotoPost" %}
						<div class="container-fluid" id="blogcontent">
							<h5>
								{{ post.post_date }}
							</h5>
							<img src="{{ post.url }}"></img>
							<h6>
								{{ post.caption|linebreaksbr }}
							</h6>
						</div>

					{% endif %}

				{% endfor %}
			</div>
		</div>
		<div class="span2">
		</div>
	</div>
</div>

{% endblock %}
