{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block extra_css %}
	<style type="text/css">
	
	.form-horizontal {
		background-color:#eee;
		padding: 20px 20px;
		margin: 255px auto;
		max-width: 500px;
	}

	</style>
{% endblock %}

{% block content %}
<div class="container">
	<form action="/new/link/" method="POST" class="form-horizontal">
		{% csrf_token %}
		<h2> Make a link post </h2>
		<h5> {{ invalid }} </h5>
		<div>
			{% if form.title.value == None %}
			<input type="text" class="input-block-level" name="title" id="id_title" placeholder="Title (optional)"></input>
			{% else %}
			<input type="text" class="input-block-level" name="title" id="id_title" value="{{ form.title.value }}" placeholder="Title (optional)"></input>
			{% endif %}

			{% if form.link.value == None %}
			<input type="url" class="input-block-level" name="link" id="id_link" placeholder="URL"></input>
			{% else %}
			<input type="url" class="input-block-level" name="link" id="id_link" value="{{ form.link.value }}" placeholder="URL"></input>
			{% endif %}

			{% if form.description.value == None %}
			<textarea rows="10" class="field span12" name="description" id="id_description" placeholder="Description (optional)"></textarea>
			{% else %}
			<textarea rows="10" class="field span12" name="description" id="id_description" value="{{ form.text.value }}" placeholder="Description(optional)"></textarea>
			{% endif %}
			<input type="text" class="input-block-level" name="tags" placeholder="Tags seperated by commas (optional)"></input>
		<div>
		<button type="submit" class="btn btn-block btn-primary"> Post </button>
	</form>
</div>

{% endblock %}
