{% extends 'base.html' %}

{% block title %} New Post {% endblock %}

{% block extra_css %}
	<style type="text/css">
	
	.form-horizontal {
		background-color:#eee;
		padding: 20px 20px;
		margin: 255px auto;
		max-width: 500px;
	}

	</style>
{% endblock %}

{% block content %}
<div class="container">
	<form action="/new/quote/" method="POST" class="form-horizontal">
		{% csrf_token %}
		<h2> Make a quote post </h2>
		<h5> {{ invalid }} </h5>
		<div>
			<textarea rows="10" class="field span12" name="quote" id="id_quote" value="{{ form.quote.value }}" placeholder="Quote"></textarea>
			{% if form.source.value == None %}
			<textarea rows="10" class="field span12" name="source" id="id_source" placeholder="Source (optional)"></textarea>
			{% else %}
			<textarea rows="10" class="field span12" name="source" id="id_source" value="{{ form.source.value }}" placeholder="Source (optional)"></textarea>
			{% endif %}
       <input type="text" class="input-block-level" name="tags" placeholder="Tags seperated by commas (optional)"></input>
		</div>
		<button type="submit" class="btn btn-block btn-primary"> Post </button>
	</form>
</div>

{% endblock %}
