{% extends 'base.html' %}

{% block title %} {{ user.username }}'s dashboard {% endblock %}

{% block extra_css %}

<style type="text/css">
	#mainbody {
		background-color:#eee;	
	}

	#blogname {
		padding-left:20px;			
	}	

	.fill {
		min-height: 100%;
	}
</style>

{% endblock %}

{% block content %}
<!--
<p class="lead"> This is {{ user.username }}'s dashboard </p>
<a href="/logout/" class="btn btn-large btn-primary"> Logout </button>
-->

<div class="container fill" id="mainbody">
	<div class="row-fluid">
		<div class="span10">
			<h2 id="blogname"> {{user.username}}'s blog </h2>
		</div>
		<div class="span2">
			<a href="/logout/" class="btn btn-primary"> Logout </a>
		</div>
	</div>
</div>

{% endblock %}
