{% extends 'base.html' %}

{% block title %} {{ user.username }}'s dashboard {% endblock %}

{% block extra_css %}

<style type="text/css">
	#mainbody {
		background-color:#eee;	
	}

	#blogname {
		padding-left:20px;			
	}

	#sidebar {
		padding-top:20px;
	}

	.fill {
		min-height: 100%;
	}
</style>

{% endblock %}

{% block content %}

<div class="container fill" id="mainbody">
	<div class="row-fluid">
		<div class="span10">
			<h2 id="blogname"> Dashboard </h2>
			<div class="span5">
				<a href="/new/text" class="btn btn-block btn-primary"> Text Post </a>
				<a href="/new/text" class="btn btn-block btn-primary"> Text Post </a>
				<a href="/new/text" class="btn btn-block btn-primary"> Text Post </a>
				<a href="/new/text" class="btn btn-block btn-primary"> Text Post </a>
				<a href="/new/text" class="btn btn-block btn-primary"> Text Post </a>
			</div>
		</div>
		<div class="span2" id="sidebar">
			<a href="/logout/" class="btn btn-primary"> Logout </a>
		</div>
		<div class="span2" id="sidebar">
			<a href="/{{ user.username }}/" class="btn btn-primary">Blog</a>
		</div>
	</div>
</div>

{% endblock %}
