{% extends "base.html" %}

{% block title %} Highlander Tumblr - Register {% endblock %}

{% block extra_css %}
	<style type="text/css">
	.form-horizontal {
		background-color:#eee;
		padding: 20px 20px;
		margin: 225px auto;
		max-width: 300px;
	}

	.form-horizontal input[type="text"],
	.form-horizontal input[type="password"] {
		margin-bottom: 15px;
		padding: 7px 9px;
	}
		
	</style>
{% endblock %}

{% block content %}
<div class="container">
	<form action="/register/" method="POST" class="form-horizontal">
		{% csrf_token %}
		<h2> Registration Form </h2>
		<h5> {{ invalid }} </h5>
		<input type="text" class="input-block-level" name="username" id="id_username" value="{{ form.username.value }}" placeholder="Username">
		<input type="text" class="input-block-level" name="nickname" id="id_nickname" value="{{ form.nickname.value }}" placeholder="Nickname (optional)">
		<input type="password" class="input-block-level" name="password1" value="{{ form.password1.value }}" id="id_password1" placeholder="Password">
		<input type="password" class="input-block-level" name="password2" value="{{ form.password2.value }}" id="id_password2" placeholder="Password (again)">
		<input type="text" class="input-block-level"  name="email" value="{{ form.email.value }}" id="id_email" placeholder="Email">
		<input type="text" class="input-block-level" name="birthday" value="{{ form.email.birthday }}" id="id_birthday" placeholder="Birthday (MM/DD/YYYY)">
		<textarea rows="3" name="interests" id="id_interests" placeholder="Interests (optional)"></textarea>
		<button type="submit" class="btn btn-large btn-primary"> Submit </button>
	</form>
</div>
{% endblock %}
